body {
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: chocolate;
    padding: 15px;
}

footer {
    background-color: chocolate;
    text-align: center;
    padding: 15px;
    color: white;
}

#body {
    text-align: center;
    line-height: 100vh;
}